In [1]:
import pandas as pd

df = pd.read_csv('data.csv')
df

    age  income student credit-rating buys-computer
0    24    high      no          fair            no
1    25    high      no     excellent            no
2    32    high      no          fair           yes
3    43  medium      no          fair           yes
4    44     low     yes          fair           yes
5    47     low     yes     excellent            no
6    35     low     yes     excellent           yes
7    21  medium      no          fair            no
8    28     low     yes          fair           yes
9    44  medium     yes          fair           yes
10   26  medium     yes     excellent           yes
11   36  medium      no     excellent           yes
12   39    high     yes          fair           yes
13   48  medium      no     excellent            no